/* General Styles */
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: "Inter Tight", sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    padding: 2rem;
    width: 100%;
    height: 80vh;
    
}

.footer-columns {
    flex-direction: column;
    align-items: center;
}

.footer-column {
    padding: 10px 0;
}
/* End General Styles */

/* Modal cookies */
#exampleModal .switches{
    display: flex;
    flex-direction: column;
    margin: 15px;
}

#exampleModal img{
width: 300px;
margin-bottom: 20px;
}

#exampleModal .mas-info{
    display: flex;
    flex-direction: column;
    margin: 15px;
}

/* End Modal cookies */

/* Tipografía */
.gloria-hallelujah-regular {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
}

.big-title-a{
    font-size: 4rem;
    font-weight: 700;
    color: #8559CD;
}

.big-title-b{
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
}
/* End Tipografía */

/* Buttons */
/* Boton Ingresar */
.btn-outline-primary{
    border-color: #8559CD;
    color: #8559CD;
}
.btn-outline-primary:hover{
    background-color: #8559CD;
    border-color: #8559CD;
    color: #fff;
}
/* End Boton Ingresar */
/* Boton Registrarse */
.btn-primary{
    background-color: #8559CD;
    border-color: #8559CD;
}
.btn-primary:hover{
    background-color: #7d3cec;
    border-color: #7d3cec;
}
/* End Boton Registrarse */
/* End Buttons */

/* End General Styles */

/* Header */
header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    padding: 50px;
    margin-bottom: 100px;
}

header .header-logo img{
    width: 10rem;
}

header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .header-buttons{
    display: none;
}

header .header-buttons a{
display: none;

}



/* End Header */

/* Fondo compartido */
.fondo-compartido{
    background-image: url(./Assets/Backgrounds/fondo-compartido-naranja.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;

}

.fondo-compartido img{
    width: 100%;
    height: auto;
    
}


/* End Fondo compartido */


/* section1 */
#section1 img{
    height: 40rem;
}

.section1_contenido {
    text-align: left;
}

.section1_contenido h6 {
    margin-top: 15px;
    color: #6d6d6d;
}

.section1_contenido button {
    margin-top: 20px;
    margin-bottom: 50px;
}

/* End section1 */

/* section2 */
#section2 {
    height: 80vh;
}

#section2 img{
    height: 30rem;
}

.section2_contenido {
    text-align: left;
    color:#000;
}

.section2_contenido h6 {
    margin-top: 15px;
    color:#373737;
}

.section2_contenido button {
    margin-top: 20px;
    margin-bottom: 50px;
}

.big-title{
    font-size: 4rem;
    font-weight: 700;
    color: #8559CD;
}

/* End Section section2 */

/* section3 */
#section3 {

}

#section3 img{
    height: 40rem;
}

.section3_contenido {
    text-align: left;
    color: #fff;
}

.section3_contenido h6 {
    margin-top: 15px;
    color: #373737;
}

.section3_contenido button {
    margin-top: 20px;
    margin-bottom: 50px;
}

/* End section3 */

/* section4 */



.section4_contenido {
    text-align: left;
    color: #000;
    margin: 30px;
}

.section4_contenido h6 {
    margin-top: 15px;
    color: #373737;
}

.section4_contenido button {
    margin-top: 20px;
    margin-bottom: 50px;
}

#section4 img{
    height: 20rem;
    margin-bottom: 40px;
}

.blockquote-footer{
    color: rgb(72, 72, 72);
}

#carouselExampleSlidesOnly img{
    width: 20rem;
    height: auto;
}

/* End section4 */

/* Footer */
footer {
    background: #373737;
    padding: 100px 100px 20px 100px;
    text-align: center;
    align-items: center;
    margin-top: 100px;
}

.logos-sponsors {
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-column {
    margin-bottom: 0px;
}

.lanzadera {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #bbbaba;
    margin-bottom: 50px;
}

.footer-column img {
    max-width: 100%;
    height: auto;
    margin: 0%;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #ffffff;
}

.footer-column button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #7d3cec;
    color: #fff;
    border: none;
    cursor: pointer;
}

.footer-bottom {
    color: #8c8989;
    margin-top: 80px;
}

.footer-bottom a {
    color: #8c8989;
    text-decoration: none;
}

.footer_rrss img {
    width: 8rem;
    padding: 10px;
}

/* Politicas de privacidad */



/* End Politicas de privacidad */



/* Responsive Styles */
@media (min-width: 480px) {
    header{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 80px;
        background-color: rgba(255, 255, 255, 0.9);
        position: fixed;
        top: 0;
        z-index: 1;
        padding: 50px;
        margin-bottom: 10em;
    }
    
    header .header-logo img{
        width: 10rem;
    }
    
    header .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header .header-buttons{
        display: flex;
        flex-direction: row;
        justify-content: end;
        width: 100%;
    }
    
    header .header-buttons a{
        margin-left: 1rem;
        margin-right: 1rem;   
    }
}


@media (min-width: 768px) {

    header .header-buttons{
        display: flex;
        flex-direction: row;
        justify-content: end;
        width: 100%;
    }
    
    header .header-buttons a{
        margin-left: 1rem;
        margin-right: 1rem;
    
    }

header .container{
    flex-direction: column;

}
}