/* General Styles */
body {
    margin: 0;
    font-family: "Inter Tight", sans-serif;
}

section {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

/* Navbar */
header {
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    z-index: 2;
}

.logo img {
    width: 10rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100px;
    width: 100%;
    background: transparent; 
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links a:hover {
    color: #9F9FFF;
}

.nav-links li {
    margin-right: 15px;
    font-size: 1.0rem;
    font-weight: 500;
}

.nav-links a {
    text-decoration: none;
    color: #8559CD;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: rgb(122, 92, 231);
    margin: 3px 0;
}

/* End Navbar */

/* Section Home */
#home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-contenido {
    text-align: left;
}

.home-contenido h6 {
    margin-top: 15px;
    color: #6d6d6d;
}

.home-contenido button {
    margin-top: 20px;
    margin-bottom: 50px;
}

/* End Section Home */

/* section2 */
#section2 {
    height: auto;
    text-align: center;
    background-color: #ecdbf3;
    padding: 50px;
}

.section2_contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #616161;
}

.section2_contenido h2 {
    margin-bottom: 5%;
}

#section2 img {
    height: 12rem;
    margin-bottom: 20px;
    color: #7d3cec;
}

/* End Section section2 */

/* section3 */
#section3 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section3_contenido {
    text-align: left;
}

.section3_contenido h6 {
    margin-top: 15px;
    color: #6d6d6d;
}

.section3_contenido button {
    margin-top: 20px;
    margin-bottom: 50px;
}

/* End section3 */

/* section4 */
#section4 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section4-contenido {
    text-align: left;
}

.section4_contenido h6 {
    margin-top: 15px;
    color: #6d6d6d;
}

.section4_contenido button {
    margin-top: 20px;
    margin-bottom: 50px;
}

/* End section4 */

/* Footer */
footer {
    background: #373737;
    padding: 100px 100px 20px 100px;
    text-align: center;
    align-items: center;
}

.logos-sponsors {
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-column {
    margin-bottom: 0px;
}

.lanzadera {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #bbbaba;
    margin-bottom: 50px;
}

.footer-column img {
    max-width: 100%;
    height: auto;
    margin: 0%;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #ffffff;
}

.footer-column button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #7d3cec;
    color: #fff;
    border: none;
    cursor: pointer;
}

.footer-bottom {
    color: #8c8989;
    margin-top: 80px;
}

.footer-bottom a {
    color: #8c8989;
    text-decoration: none;
}

.footer_rrss img {
    width: 8rem;
    padding: 10px;
}

/* Politicas de privacidad */
#section-privacy {
}

/* End Politicas de privacidad */

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-active {
        display: flex;
        flex-direction: column;
    }

    .footer-columns {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        padding: 10px 0;
    }

    section, #home, #section2 #section3, #section4 {
        height: auto;
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .home-contenido, .section3_contenido, .section4_contenido {
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .menu-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
    }

    .nav-links {
        list-style: none;
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: #e6d0fb;
        width: 100%;
        top: 100px;
        left: 0;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
        transform: translateY(-10px);
    }

    .nav-links.show {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        z-index: 2;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links a {
        color: #8559CD;
    }
}
